.home{
    .entry-title{
        display: none;
    }
}

#respond{
    .form-allowed-tags{
        display: none !important;
    }
}

.menu_custom_theme{
    nav{
        ul {
            li {
                a{
                    padding: 0 0 10px 0 !important;
                }
                margin-left: 20px;
            }
        }
    }
    .elementor-item:after{
        height: 1.5px !important;
    }
}

.elementor-nav-menu--dropdown {
    position: absolute;
    right: 0px;
    top: 40px;
    z-index: 9;
    li{
        margin-left: 0px !important;
        
        .elementor-item{
            padding: 10px !important;
        }
    }
}


.hover-animation:hover {
    animation: animation_move 5s infinite;
}

.variation_no_price{
    margin-bottom: 10px;
    .title_variation{
        font-weight: bolder;
    }
    .list_variation{
        padding-left: 0px;
        list-style: none;
        display: flex;
        li{
            padding: 2px 13px;
            border: 1px solid #CCC;
            border-radius: 3px;
            margin-right: 5px;
            cursor: not-allowed;
            text-transform: capitalize;
        }
    }
}

@keyframes animation_move {
    0%   {transform: translateY(0px);}
    25% {transform: translateY(10px)}
    50% {transform: translateY(-10px)}
    100% {transform: translateY(0px)}
  }
